* {
    margin: 0;
    padding: 0;
    font-family: "Be Vietnam", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    /* transition: all 0.2s linear; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* .example::-webkit-scrollbar {
    display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox */
/* .example {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */

html {
    scroll-behavior: smooth;
}

body {
    background: #f5f5f5;
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    padding: 10px 10%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Home */
.section-home .home {
    background-color: #f1f5f9;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0;
}

.section-home .home .title .image {
    padding: 30px 0;
}

.section-home .home .title img {
    width: 100%;
    max-width: 500px;
}

.section-home .home .title .text p {
    font-size: 20px;
    color: #242424;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.section-home .home .title .button a {
    display: inline-block;
    padding: 20px 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 16px;
    text-decoration: none;
    margin-top: 25px;
}

.section-home .home .title .button .btn-call {
    background-color: #1bad4b;
    color: #fff;
    border: 2px solid #1bad4b;
}

.section-home .home .title .button .btn-flyer {
    background-color: inherit;
    color: #1bad4b;
    border: 2px solid #1bad4b;
}

.section-home .home .title .button a:hover {
    background: #015028;
    color: #fff;
    border-color: #015028;
}
/* End Home */

/* Video */
.section-video .video {
    position: relative;
    overflow: hidden;
    background: linear-gradient(
        to bottom,
        #f1f5f9,
        #f1f5f9 50%,
        transparent 50%,
        transparent
    );
}

.section-video .video::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to right, #1bad4b, #28b88d);
}

.section-video .video .screen {
    position: relative;
    aspect-ratio: 16 / 9;
    max-width: 800px;
    margin: 0 auto;
    z-index: 10;
}

.section-video .video .screen iframe {
    width: 100%;
    height: 100%;
    border: 20px solid black;
    border-radius: 20px;
}
/* End Video */

/* Client */
.section-client .client {
    background: linear-gradient(to right, #1bad4b, #28b88d);
    text-align: center;
    padding: 20px 0;
}

.section-client .client .title h1 {
    font-size: 32px;
    color: #fff;
}

.section-client .client .image img {
    width: 100%;
    max-width: 1500px;
}
/* End Client */

/* Advantage */
.section-advantage .advantage {
    padding: 20px 0;
}

.section-advantage .advantage .title {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-advantage .advantage .title h1 {
    font-size: 32px;
    color: #242424;
}

.section-advantage .advantage .wrapper {
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.section-advantage .advantage .wrapper .card {
    background-color: #e7ecf2;
    border-radius: 10px;
    padding: 30px;
    color: #242424;
}

.section-advantage .advantage .wrapper .card .icon img {
    width: 100%;
    max-width: 35px;
    margin-bottom: 15px;
}

.section-advantage .advantage .wrapper .card .description h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.section-advantage .advantage .wrapper .card .description ul {
    display: flex;
    flex-direction: column;
}

.section-advantage .advantage .wrapper .card .description ul li {
    display: flex;
    font-size: 18px;
}

.section-advantage .advantage .wrapper .card .description ul li i {
    flex-shrink: 0;
    margin-right: 10px;
}
/* End Advantage */

/* Sparasi */
.section-sparasi {
    max-width: 100%;
    padding: 15px 0;
}

.section-sparasi img {
    max-width: 100%;
}
/* End Sparasi */

/* Modul */
.section-modul .modul {
    padding: 20px 0;
    background-color: #fcfcfc;
}

.section-modul .modul .title {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #242424;
}

.section-modul .modul .title h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.section-modul .modul .title p {
    font-size: 20px;
    margin-bottom: 50px;
    padding: 0 120px;
}

.section-modul .modul .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 20px 0;
}

.section-modul .modul .wrapper .card {
    /* border: 1px solid #242424; */
    padding: 20px;
    border-radius: 10px;
    background-color: #fcfcfc;
    display: none;
}

.section-modul .modul .wrapper .card:nth-child(1),
.section-modul .modul .wrapper .card:nth-child(2),
.section-modul .modul .wrapper .card:nth-child(3),
.section-modul .modul .wrapper .card:nth-child(4),
.section-modul .modul .wrapper .card:nth-child(5),
.section-modul .modul .wrapper .card:nth-child(6),
.section-modul .modul .wrapper .card:nth-child(7),
.section-modul .modul .wrapper .card:nth-child(8),
.section-modul .modul .wrapper .card:nth-child(9),
.section-modul .modul .wrapper .card:nth-child(10),
.section-modul .modul .wrapper .card:nth-child(11),
.section-modul .modul .wrapper .card:nth-child(12),
.section-modul .modul .wrapper .card:nth-child(13),
.section-modul .modul .wrapper .card:nth-child(14),
.section-modul .modul .wrapper .card:nth-child(15) {
    display: block;
}

.section-modul .modul .wrapper .card:hover {
    transform: translateY(-30px);
    scale: 1.1;
    box-shadow: 0 6px 20px #000;
}

.section-modul .modul .wrapper .card .title,
.section-modul .modul .wrapper .card .image,
.section-modul .modul .wrapper .card .description {
    text-align: center;
    color: #242424;
}

.section-modul .modul .wrapper .card .title h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.section-modul .modul .wrapper .card:hover .title h3 {
    color: #1bad4b;
}

.section-modul .modul .wrapper .card .title p {
    font-size: 16px;
    color: #242424;
}

.section-modul .modul .wrapper .card .image img {
    width: 100%;
    max-width: 230px;
    margin-bottom: 10px;
}

.section-modul .modul .wrapper .card .description p {
    font-size: 14px;
    margin-bottom: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.section-modul .modul .wrapper .card .btn-more a {
    font-size: 14px;
    color: #1bad4b;
    display: none;
}

.section-modul .modul .wrapper .card:hover .btn-more a {
    display: block;
}

.section-modul .modul .btn {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.section-modul .modul .btn-load {
    padding: 15px 60px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 20px;
    display: inline-block;
    background: #1bad4b;
}

.section-modul .modul .btn-load:hover {
    background-color: #015028;
    color: #fff;
}
/* End Modul */

/* Testimoni */
.section-testimoni .testimoni {
    padding: 20px 0;
    background-color: #f1f5f9;
}

.section-testimoni .text {
    padding: 10px 0 40px 0;
    text-align: center;
    font-size: 32px;
    color: #242424;
}

.section-testimoni .content {
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* .section-testimoni .content .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 0 50px;
} */

.section-testimoni .content .swiper {
    width: 100%;
    height: 100%;
}

.section-testimoni .content .wrapper .card {
    /* border: 1px solid #bcbcbc;
    border-color: #bcbcbc;
    border-radius: 10px; */
    margin-bottom: 50px;
    color: #242424;
    padding: 20px 100px;
}

.section-testimoni .content .wrapper .card img {
    width: 100%;
    max-width: 100px;
}

.section-testimoni .content .wrapper .card h3 {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
}

.section-testimoni .content .wrapper .card p {
    font-size: 16px;
}

.section-testimoni .swiper-pagination-bullet {
    width: 30px;
    height: 8px;
    border-radius: 6px;
}

.section-testimoni .swiper-pagination-bullet-active {
    background-color: #015028;
}

.section-testimoni .nav-btn {
    height: 50px;
    width: 50px;
    background: #f1f5f9;
    opacity: 80%;
}

.section-testimoni .nav-btn:hover {
    background: #f1f5f9;
    opacity: 100%;
}

.section-testimoni .swiper-button-next {
    right: -1rem;
    top: 7rem;
}

.section-testimoni .swiper-button-prev {
    left: -1rem;
    top: 7rem;
}

.section-testimoni .nav-btn::before,
.section-testimoni .nav-btn::after {
    font-size: 25px;
    color: #1bad4b;
}
/* End Testimoni */

/* Animation */
.scroll-section {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.scroll-section.animated {
    opacity: 1;
    transform: translateX(0);
}
/* End Animation */

/* Media Queries */
@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 1350px) {
}

@media screen and (max-width: 1280px) {
    /* Modul */
    .section-modul .modul .title p {
        padding: 0 100px;
    }
    /* End Modul */

    /* Testimoni */
    .section-testimoni .content .wrapper .card {
        padding: 20px 50px;
    }
    /* End Testimoni */
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 900px) {
    /* Testimoni */
    .section-testimoni .swiper-button-next {
        display: none;
    }

    .section-testimoni .swiper-button-prev {
        display: none;
    }
    /* End Testimoni */
}

@media screen and (max-width: 800px) {
    /* Modul */
    .section-modul .modul .title p {
        padding: 0 50px;
    }
    /* End Modul */

    /* Testimoni */
    .section-testimoni .text {
        font-size: 28px;
    }
    /* End Testimoni */
}

@media screen and (max-width: 780px) {
}

@media screen and (max-width: 720px) {
}

@media screen and (max-width: 680px) {
}

@media screen and (max-width: 580px) {
    /* Home */
    .section-home .home {
        padding: 20px 0;
    }

    .section-home .home .title .text p {
        font-size: 14px;
    }

    .section-home .home .title .button a {
        padding: 15px 15px;
        font-size: 14px;
        margin-top: 15px;
    }
    /* End Home */

    /* Client */
    .section-client .client .title h1 {
        font-size: 24px;
    }
    /* End Client */

    /* Modul */
    .section-modul .modul .title h1 {
        font-size: 28px;
    }

    .section-modul .modul .title p {
        font-size: 16px;
        padding: 0;
    }

    .section-modul .modul .wrapper {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .section-modul .modul .wrapper .card .title h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .section-modul .modul .wrapper .card .description p {
        font-size: 14px;
    }

    .section-modul .modul .wrapper .card .btn-more a {
        font-size: 14px;
    }

    .section-modul .modul .btn-load {
        padding: 15px 50px;
        font-size: 16px;
    }
    /* End Modul */

    /* Testimoni */
    .section-testimoni .text {
        font-size: 24px;
    }
    /* End Testimoni */
}

@media screen and (max-width: 360px) {
    /* Home */
    .section-home .home {
        padding: 10px 0;
    }

    .section-home .home .title .text p {
        font-size: 14px;
    }

    .section-home .home .title .button a {
        padding: 10px 10px;
        font-size: 12px;
    }
    /* End Home */

    /* Client */
    .section-client .client .title h1 {
        font-size: 18px;
    }
    /* End Client */

    /* Advantage */
    .section-advantage .advantage .title h1 {
        font-size: 24px;
    }

    .section-advantage .advantage .wrapper .card .description h3 {
        font-size: 20px;
    }

    .section-advantage .advantage .wrapper .card .description ul li {
        font-size: 16px;
    }
    /* End Advantage */

    /* Modul */
    .section-modul .modul .title h1 {
        font-size: 24px;
    }

    .section-modul .modul .title p {
        font-size: 14px;
    }
    /* End Modul */

    /* Testimoni */
    .section-testimoni .text {
        font-size: 20px;
    }

    .section-testimoni .content .wrapper .card h3 {
        font-size: 18px;
    }

    .section-testimoni .content .wrapper .card p {
        font-size: 14px;
    }
    /* End Testimoni */
}
